$rojo-bullet: #f64552;
$gris-bullet: #f8f8f8;
$Amarillo-botones: #fbd43b;
$Gris-dark: #212121;
$Gris-letra-soft : #8f8f8f;
$Turquesa-terminos: #00c3a3;
$Morado-entradaNumeros: #49233b;
$Morado-light : #451e36;
$Morado-dark : #38052a;
